<div class="padding">管理员账号
    <div style="position: absolute;right: 0;">
        <div style="float: left; padding-right: 20px;" ui-sref="">管理员账号添加</div>
        <div style="float: left;padding-right: 20px;" ui-sref="">管理员账号编辑</div>
        <div style="float: left;padding-right: 20px;" ui-sref="">管理员账号删除</div>
    </div>
</div>
<div ui-view name="adminView">

<ul class="ul">
    <li>
        <span>管理员账号编号</span>
        <i>ggg116151054</i>
    </li>
    <li>
        <span>管理员账号</span>
        <i>wh123</i>
    </li>
    <li>
        <span>管理员密码</span>
        <i> 112233</i>
    </li>
    <li>
        <span>管理员昵称</span>
        <i>what ever</i>
    </li>
    <li>
        <span>管理员权限</span>
        <i style="font-style: normal">
            <input type="checkbox" id="1">
            <label for="1">用户账号管理</label>
            <input type="checkbox" id="2">
            <label for="2">广告管理</label>
            <input type="checkbox" id="3">
            <label for="3">活动管理</label>
            <input type="checkbox" id="4">
            <label for="4">数据统计</label>
        </i>
    </li>
    <li>
        <span>管理员账号状态</span>
        <i>已激活</i>
    </li>
</ul>
</div>