

<ul class="ul">
    <li>
        <span>广告编号</span>
        <i>{{item.supplyid}}</i>
    </li>
    <li>
        <span>广告主题</span>
        <i>{{item.protitle}}</i>
    </li>
    <li>
        <span>广告主题图片</span>
        <i> <img src={{item.proimgurl}} alt=""></i>
    </li>
    <li>
        <span>广告详情</span>
        <i>{{item.pronames}}</i>
    </li>
    <li>
        <span>广告类型</span>
        <i>{{item.protype}}</i>
    </li>
    <li>
        <span>浏览次数</span>
        <i>{{item.viewcount}}</i>
    </li>
</ul>
<button class="btn" ng-click="del()">删除</button>