
<div ui-view name="advertisemenView">
<div class="padding">广告
    <div style="float:right;">
        <div style="float: left; padding-right: 20px;" ui-sref="tabs.advertisementAdmin.create">广告发布</div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="item in advertisementItemList" ng-click="goToAdvertisementItem(item)">
            <div class="thumbnail">
                <div class="caption">
                    <p>{{item.supplyid}}</p>
                    <h3>{{item.protitle}}</h3>
                    <p>{{item.pronames}}</p>
                    <p><span>发布时间：</span>{{item.regtime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>