<!--<div ng-repeat="item in userList">-->
<!--<div>{{item.num}}</div>-->
<!--</div>-->
<div>
    <div class="col-md-6">
        <img src="../../img/1.jpeg" alt="" style="width: 100px;height: 100px;border-radius: 100%;">
        <ul class="ul">
            <li>
                <span>账号编号</span>
                <i>syzh1609110001</i>
            </li>
            <li>
                <span>账号（手机号）</span>
                <i>18099990000</i>
            </li>
            <li>
                <span>昵称</span>
                <i>jack</i>
            </li>
            <li>
                <span>性别</span>
                <i>男</i>
            </li>
            <li>
                <span>账号类型</span>
                <i>正式</i>
            </li>
            <li>
                <span>信用评级</span>
                <i>AAA</i>
            </li>
            <li>
                <span>账号使用状态</span>
                <i>已激活</i>
            </li>
            <li>
                <span>账号审核状态</span>
                <i>未审核</i>
            </li>
            <li>
                <span>审核人</span>
                <i>admin</i>
            </li>
            <li>
                <span>审核时间</span>
                <i>2016-10-10 13：49</i>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <div class="img">
            <div>
                车辆照片
                <img src="../../img/3.jpg" alt="">
            </div>
            <div>
                驾驶证照片
                <img src="../../img/2.jpg" alt="">
            </div>
            <div>
                驾驶证照片
                <img src="../../img/2.jpg" alt="">
            </div>

        </div>

    </div>

</div>