<div ui-view name="accountView">
    <div> 用户管理</div>
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="item in accountList" ui-sref="tabs.usersAccountAdmin.user({id:item.id})">
            <div class="thumbnail">
                <img src="../../img/1.jpeg">
                <div class="caption">
                    {{item.id}}
                    <h3>{{item.name}}</h3>
                    <p>{{item.content}}</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default"
                                                                                       role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </nav>
</div>